* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
    background-color: white;
}

.logo {
    font-size: 36px;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.clothes {
    flex: 1;
    background-color: #6d1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 60px 20px;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    height: 430px;

    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

.card h3 {
    height: 80px;
    padding: 10px;
}
.card p {
    margin-top: auto;
    padding-bottom: 15px;
    font-weight: bold;
}

footer {
text-align: center;
padding: 20px;
background-color: white;
font-size: 28px;
font-weight: bold;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 15px;
    }
.products {
    flex-direction: column;
}
}